In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
d1 = "plot: two teen couples go to a church party, drink and then drive."

d2 = "films adapted from comic books have had plenty of success , whether they're about superheroes ( batman , superman , spawn ) , or geared toward kids ( casper ) or the arthouse crowd ( ghost world ) , but there's never really been a comic book like from hell before . "

d3 = "every now and then a movie comes along from a suspect studio , with every indication that it will be a stinker , and to everybody's surprise ( perhaps even the studio ) the film becomes a critical darling . "

d4 = "damn that y2k bug . "

In [ ]:
#BOW-DF

In [37]:
docs=[d1,d2,d3,d4]

In [16]:
cv=CountVectorizer()

In [17]:
word_count_vector=cv.fit_transform(docs)

In [18]:
word_count_vector.shape

(4, 74)

In [19]:
print(word_count_vector.toarray())

[[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0
  0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 0
  0 0]
 [1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 2 0 0 1 0 0 0 0 0 0 0 0 1 2 1 1 0 1 1
  1 0 0 1 1 0 1 0 1 2 0 0 1 0 1 1 1 0 0 1 1 1 0 0 0 0 1 0 1 1 0 1 0 1 0 0
  1 0]
 [0 0 1 2 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 2 1 1 0 1 0 0 0 0 0
  0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 2 0 0 0 1 1 0 1 2 1 0 0 1 0 0 0 1 1
  0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
  0 1]]

In [ ]:
#IDF

In [20]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True) 
tfidf_transformer.fit(word_count_vector)

TfidfTransformer()

In [21]:
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"])

In [22]:
df_idf.sort_values(by=['idf_weights'])

            idf_weights
and            1.510826
from           1.510826
to             1.510826
that           1.510826
then           1.510826
...                 ...
darling        1.916291
damn           1.916291
crowd          1.916291
indication     1.916291
y2k            1.916291

[74 rows x 1 columns]

In [ ]:
#TF

In [23]:
count_vector=cv.transform(docs)

In [24]:
print(count_vector.toarray())

[[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0
  0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 0
  0 0]
 [1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 2 0 0 1 0 0 0 0 0 0 0 0 1 2 1 1 0 1 1
  1 0 0 1 1 0 1 0 1 2 0 0 1 0 1 1 1 0 0 1 1 1 0 0 0 0 1 0 1 1 0 1 0 1 0 0
  1 0]
 [0 0 1 2 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1 2 1 1 0 1 0 0 0 0 0
  0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 2 0 0 0 1 1 0 1 2 1 0 0 1 0 0 0 1 1
  0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
  0 1]]

In [25]:
tf_idf_vector=tfidf_transformer.transform(count_vector)

In [26]:
print(tf_idf_vector.toarray())

[[0.         0.         0.         0.23918972 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.30338183 0.         0.
  0.30338183 0.         0.         0.         0.         0.30338183
  0.30338183 0.         0.         0.         0.         0.
  0.         0.         0.         0.30338183 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.30338183 0.
  0.         0.30338183 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.30338183 0.         0.         0.23918972 0.         0.
  0.23918972 0.         0.30338183 0.         0.         0.
  0.         0.        ]
 [0.15057106 0.15057106 0.         0.         0.15057106 0.15057106
  0.         0.         0.15057106 0.15057106 0.15057106 0.15057106
  0.         0.15057106 0.15057106 0.         0.         0.30114211
  0.         0.         0.15057106 0.         0.         0.
  0.         0.         0.         0.         0.         0.15057106
  0.2374239  0.15057106 0.15057106 0.         0.15057106 0.15057106
  0.15057106 0.         0.         0.15057106 0.15057106 0.
  0.15057106 0.         0.15057106 0.30114211 0.         0.
  0.15057106 0.         0.15057106 0.15057106 0.15057106 0.
  0.         0.15057106 0.15057106 0.15057106 0.         0.
  0.         0.         0.11871195 0.         0.15057106 0.15057106
  0.         0.15057106 0.         0.15057106 0.         0.
  0.15057106 0.        ]
 [0.         0.         0.17035228 0.26861539 0.         0.
  0.17035228 0.17035228 0.         0.         0.         0.
  0.         0.         0.         0.         0.17035228 0.
  0.         0.17035228 0.         0.         0.17035228 0.
  0.         0.17035228 0.34070457 0.17035228 0.17035228 0.
  0.1343077  0.         0.         0.         0.         0.
  0.         0.17035228 0.17035228 0.         0.         0.17035228
  0.         0.17035228 0.         0.         0.         0.17035228
  0.         0.         0.         0.         0.         0.17035228
  0.34070457 0.         0.         0.         0.17035228 0.17035228
  0.         0.1343077  0.26861539 0.1343077  0.         0.
  0.1343077  0.         0.         0.         0.17035228 0.17035228
  0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.52547275 0.         0.         0.         0.         0.
  0.         0.         0.         0.52547275 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.41428875 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.52547275]]

In [27]:
feature_names = cv.get_feature_names()

In [28]:
print(feature_names)

['about', 'adapted', 'along', 'and', 'arthouse', 'batman', 'be', 'becomes', 'been', 'before', 'book', 'books', 'bug', 'but', 'casper', 'church', 'comes', 'comic', 'couples', 'critical', 'crowd', 'damn', 'darling', 'drink', 'drive', 'even', 'every', 'everybody', 'film', 'films', 'from', 'geared', 'ghost', 'go', 'had', 'have', 'hell', 'indication', 'it', 'kids', 'like', 'movie', 'never', 'now', 'of', 'or', 'party', 'perhaps', 'plenty', 'plot', 're', 'really', 'spawn', 'stinker', 'studio', 'success', 'superheroes', 'superman', 'surprise', 'suspect', 'teen', 'that', 'the', 'then', 'there', 'they', 'to', 'toward', 'two', 'whether', 'will', 'with', 'world', 'y2k']

In [29]:
first_document_vector=tf_idf_vector[0]

In [30]:
print(first_document_vector.toarray())

[[0.         0.         0.         0.23918972 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.30338183 0.         0.
  0.30338183 0.         0.         0.         0.         0.30338183
  0.30338183 0.         0.         0.         0.         0.
  0.         0.         0.         0.30338183 0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.30338183 0.
  0.         0.30338183 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.30338183 0.         0.         0.23918972 0.         0.
  0.23918972 0.         0.30338183 0.         0.         0.
  0.         0.        ]]

In [31]:
#print the scores 
df = pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"]) 
df.sort_values(by=["tfidf"],ascending=False)

            tfidf
drink    0.303382
go       0.303382
couples  0.303382
teen     0.303382
church   0.303382
...           ...
had      0.000000
have     0.000000
hell     0.000000
adapted  0.000000
y2k      0.000000

[74 rows x 1 columns]

In [ ]:
#TF-IDF

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
tfidf_vectorizer=TfidfVectorizer(use_idf=True)

In [34]:
tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(docs)

In [35]:
first_vector_tfidfvectorizer=tfidf_vectorizer_vectors[0]

In [36]:
df = pd.DataFrame(first_vector_tfidfvectorizer.T.todense(), index=tfidf_vectorizer.get_feature_names(), columns=["tfidf"])
df.sort_values(by=["tfidf"],ascending=False)

            tfidf
drink    0.303382
go       0.303382
couples  0.303382
teen     0.303382
church   0.303382
...           ...
had      0.000000
have     0.000000
hell     0.000000
adapted  0.000000
y2k      0.000000

[74 rows x 1 columns]

In [39]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([d1, d2 , d3 ,d4])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df

,about,adapted,along,and,arthouse,batman,be,becomes,been,before,...,there,they,to,toward,two,whether,will,with,world,y2k
0,0.000000,0.000000,0.000000,0.239190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.239190,0.000000,0.303382,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.150571,0.150571,0.000000,0.000000,0.150571,0.150571,0.000000,0.000000,0.150571,0.150571,...,0.150571,0.150571,0.000000,0.150571,0.000000,0.150571,0.000000,0.000000,0.150571,0.000000
2,0.000000,0.000000,0.170352,0.268615,0.000000,0.000000,0.170352,0.170352,0.000000,0.000000,...,0.000000,0.000000,0.134308,0.000000,0.000000,0.000000,0.170352,0.170352,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.525473